@CHARSET "ISO-8859-1";

/*
This file contains the bubbles style. 
*/

/***************************STYLE TO MEDIUM BUBBLES*****************************/

.bubble_yellow_small{
	position: absolute;
	width:15%;
	height: 8%;
	text-align: center;
	z-index: 4;
	
	background-color: #FAFFB8;
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

.bubble_gray{
	position: absolute;
	width:30%;
	height: 15%;
	text-align: center;
	
	background-color: #ADADA8;
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}


/*style search_trace_brief_bubble*/
.search_trace_brief_bubble {
	position:relative;
	width:35%;
	height: 20%;
	text-align: center;
	
	background: rgba(0, 255, 127, 0.5);
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
	
	-webkit-animation-name: wobble-skew-init;
	-o-animation-name: wobble-skew-init;
	-moz-animation-name: wobble-skew-init;
	-ms-animation-name: wobble-skew-init;
	animation-name: wobble-skew-init;
	
	-webkit-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	animation-duration: 1.5s;
	
	-webkit-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-ms-animation-timing-function: ease;
	animation-timing-function: ease;
	
	-webkit-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.list_brief_bubble {
	position:relative;
	width:80%;
	height: 50%;
	text-align: center;
	
	background: rgba(238, 130, 238, 0.5);
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
	
	-webkit-animation-name: wobble-skew-init;
	-o-animation-name: wobble-skew-init;
	-moz-animation-name: wobble-skew-init;
	-ms-animation-name: wobble-skew-init;
	animation-name: wobble-skew-init;
	
	-webkit-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	animation-duration: 1.5s;
	
	-webkit-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-ms-animation-timing-function: ease;
	animation-timing-function: ease;
	
	-webkit-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	animation-iteration-count: 1;
}


.refine_brief_bubble {
	position:relative;
	width:35%;
	height: 20%;
	text-align: center;
	
	background: rgba(255, 140, 0, 0.5);
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
	
	-webkit-animation-name: wobble-skew-init;
	-o-animation-name: wobble-skew-init;
	-moz-animation-name: wobble-skew-init;
	-ms-animation-name: wobble-skew-init;
	animation-name: wobble-skew-init;
	
	-webkit-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	animation-duration: 1.5s;
	
	-webkit-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-ms-animation-timing-function: ease;
	animation-timing-function: ease;
	
	-webkit-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	animation-iteration-count: 1;
}


.more_link {
	position: absolute;
	width:30%;
	height: 16%;
	text-align: center;
	
	background: rgba(219, 11, 39, 0.5);
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}


.search_trace_bubble {
	position: absolute;
	z-index: 1;
	
	
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	
	
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	
	-webkit-touch-callout: none;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	
	
	
}


.li_bubble {
	display: block;
	float: left;
	width: 150px;
	height: 150px;
	z-index: 1;
	position:relative;
	
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}



.li_space {
	display: block;
	
	height: 200px;
	width: 200px;
	background: rgba(17,345,234,0.2);
	z-index: -1;
	position:absolute;
	
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}



.list_bubble {
	position:relative;
	width:100%;
	height: 100%;
	text-align: center;
	
	background: rgba(136, 117, 255, 0.5);
	
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

/*
.refine_bubble {
	position:relative;
	width:100%;
	height: 100%;
	text-align: center;
	
	background: rgba(94, 255, 196, 0.5);
	
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}
*/
.more_bubble {
	position:relative;
	width:100%;
	height: 100%;
	text-align: center;
	
	background: rgba(219, 11, 39, 0.5);
	
	-webkit-border-radius: 999px 999px 999px 999px;
	-o-border-radius: 999px 999px 999px 999px;
	-moz-border-radius: 999px 999px 999px 999px;
	-ms-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}