/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* 

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    letter-spacing:0.6px;
    line-height:20px;
    color: black;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    border:0;
    position: fixed;
}

/***************************STYLE TO PAGES*****************************/

/*Position general page*/
.page { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	-webkit-transform: translate3d(0, 0, 0); 
	transform: translate3d(0, 0, 0); 
}

/*Position central page*/
.page.center { 
	-webkit-transform: translate3d(0, 0, 0); 
	transform: translate3d(0, 0, 0);
} 
 
 /*Position right page*/
.page.right { 
	-webkit-transform: translate3d(80%, 0, 0); 
	transform: translate3d(80%, 0, 0); 
}

 /*Position up page*/
.page.up { 
	-webkit-transform: translate3d(0, -100%, 0); 
	transform: translate3d(0, -100%, 0); 
}

/*Page transition animation*/
.page.transition { 
	-webkit-transition-duration: 1s; 
	transition-duration: 1s; 
}


/***************************STYLE TO MAIN DIV's*****************************/

/*Style to results brief on app div*/
#app_div {
	position:absolute;
    width: 100%;
    height:100%;
	
	/* gradient background efect (http://www.css3.me) */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a3f5ff', endColorstr = '#967557');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a3f5ff', endColorstr = '#967557')";
	background-image: -moz-linear-gradient(top, #a3f5ff, #967557);
	background-image: -ms-linear-gradient(top, #a3f5ff, #967557);
	background-image: -o-linear-gradient(top, #a3f5ff, #967557);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#a3f5ff), to(#967557));
	background-image: -webkit-linear-gradient(top, #a3f5ff, #967557);
	background-image: linear-gradient(top, #a3f5ff, #967557);
	/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

/*Style to search bar */
#searchbar_div {
	display:block;
	top: 0px;
	left: 0px;
	width:100%;
	height: 10%;
	text-align: center;
}

#results_div {
	top: 0px;
	left: 0px;
	width:100%;
	height: 100%;
	text-align: center;
		
	-webkit-box-shadow:inset 1px 1px 111px 12px #F2FFFF;
	box-shadow:inset 1px 1px 111px 12px #F2FFFF;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

/***************************STYLE TO MEDIUM BUBBLES*****************************/


/*style search_trace_brief_bubble*/
.search_trace_brief_bubble {
	position:relative;
	width:60%;
	height: 30%;
	text-align: center;
	
	/*shape and colour*/
	-webkit-box-shadow:inset 1px 1px 111px 12px #FFB94F;
	box-shadow:inset 1px 1px 111px 12px #FFB94F;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
	
	
  -webkit-animation-name: wobble-skew-init;
  animation-name: wobble-skew-init;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
	
}

.search_trace_brief_bubble.hover {
	
	height: 65%;
	
	-moz-transform: scale(1.5) translateY(20%);
	-webkit-transform: scale(1.5) translateY(20%);
	-o-transform: scale(1.5) translateY(20%);
	-ms-transform: scale(1.5) translateY(20%);
	transform: scale(1.5) translateY(20%);
	
  -webkit-animation-name: wobble-skew;
  animation-name: wobble-skew;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.list_brief_bubble {
	position:relative;
	width:80%;
	height: 30%;
	text-align: center;
	
	/*shape and colour*/
	-webkit-box-shadow:inset 1px 1px 111px 12px #8875FF;
	box-shadow:inset 1px 1px 111px 12px #8875FF;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
	
	
  -webkit-animation-name: wobble-skew-init;
  animation-name: wobble-skew-init;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
	
   
}


.list_brief_bubble.hover {
	
	height: 80%;
	
	-moz-transform: scale(1.5) translateY(0%);
	-webkit-transform: scale(1.5) translateY(0%);
	-o-transform: scale(1.5) translateY(0%);
	-ms-transform: scale(1.5) translateY(0%);
	transform: scale(1.5) translateY(0%);
	
  -webkit-animation-name: wobble-skew;
  animation-name: wobble-skew;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
   
}

.refine_brief_bubble {
	position:relative;
	width:60%;
	height: 30%;
	text-align: center;
	
	/*shape and colour*/
	-webkit-box-shadow:inset 1px 1px 111px 12px #5EFFC4;
	box-shadow:inset 1px 1px 111px 12px #5EFFC4;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
	
	
  -webkit-animation-name: wobble-skew-init;
  animation-name: wobble-skew-init;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
	
	
}
.refine_brief_bubble.hover {
	
	height: 65%;
	
	-moz-transform: scale(1.5) translateY(-20%);
	-webkit-transform: scale(1.5) translateY(-20%);
	-o-transform: scale(1.5) translateY(-20%);
	-ms-transform: scale(1.5) translateY(-20%);
	transform: scale(1.5) translateY(-20%);
	
  -webkit-animation-name: wobble-skew;
  animation-name: wobble-skew;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
   
}


.bubble_yellow_small{
	position: absolute;
	width:15%;
	height: 8%;
	text-align: center;
	
	-webkit-box-shadow:inset 1px 1px 111px 12px #FAFFB8;
	box-shadow:inset 1px 1px 111px 12px #FAFFB8;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

.bubble_gray{
	position: absolute;
	width:30%;
	height: 15%;
	text-align: center;
	
	-webkit-box-shadow:inset 1px 1px 111px 12px #ADADA8;
	box-shadow:inset 1px 1px 111px 12px #ADADA8;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

.bubble_red_small {
	position: absolute;
	width:30%;
	height: 16%;
	text-align: center;
	
	-webkit-box-shadow:inset 1px 1px 111px 12px #DB0B27;
	box-shadow:inset 1px 1px 111px 12px #DB0B27;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}


.search_trace_bubble {
	position:relative;
	width:100%;
	height: 100%;
	text-align: center;
	
	/*shape and colour*/
	-webkit-box-shadow:inset 1px 1px 111px 12px #FFB94F;
	box-shadow:inset 1px 1px 111px 12px #FFB94F;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
	
}

.list_bubble {
	position:relative;
	width:100%;
	height: 100%;
	text-align: center;
	
	/*shape and colour*/
	-webkit-box-shadow:inset 1px 1px 111px 12px #8875FF;
	box-shadow:inset 1px 1px 111px 12px #8875FF;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

.refine_bubble {
	position:relative;
	width:100%;
	height: 100%;
	text-align: center;
	
	/*shape and colour*/
	-webkit-box-shadow:inset 1px 1px 111px 12px #5EFFC4;
	box-shadow:inset 1px 1px 111px 12px #5EFFC4;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

 
 /*Position right medium bubble*/
.results.right { 
	-moz-transform: scale(-0.5) rotate(360deg) translate3d(400%, 0, 0); 
	-webkit-transform: scale(-0.5) rotate(360deg) translate3d(400%, 0, 0); 
	-o-transform: scale(-0.5) rotate(360deg) translate3d(400%, 0, 0); 
	-ms-transform: scale(-0.5) rotate(360deg) translate3d(400%, 0, 0); 
	transform: scale(-0.5) rotate(360deg) translate3d(400%, 0, 0); 
}

/*Position center medium bubble*/
.results.center { 
	-moz-transform: scale(1) rotate(720deg) translate3d(0, 0, 0); 
	-webkit-transform: scale(1) rotate(720deg) translate3d(0, 0, 0); 
	-o-transform: scale(1) rotate(720deg) translate3d(0, 0, 0); 
	-ms-transform: scale(1) rotate(720deg) translate3d(0, 0, 0); 
	transform: scale(1) rotate(720deg) translate3d(0, 0, 0); 
}



 
/*Page transition animation*/
.results.transition { 
	-webkit-transition-duration: 2s; 
	transition-duration: 2s; 
}


/***************************STYLE ERROR SCREEN*****************************/

/*default style searchbtn when the screen at least 426 × 320  ldpi*/
.error{
	position: absolute;
	width: 100%; height: 100%;
	background-image: url(../img/small/errorimg.png);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:45% 20%; 
}



/***************************STYLE INTO SEARCH BAR*****************************/
#searchtxt {
	border: 3px solid #c7c7c7;
	border-radius: 100px;
	-moz-border-radius: 10dsf0px;
	-webkit-border-radius: 100px;
	outline: none;
	background-color: #8abaee;
	width: 75%;
	height: 80%;
}


/*default style searchbtn when the screen at least 426 × 320  ldpi*/ 
#searchbtn{
	width: 40px; height: 40px;
	border-radius: 100px; -moz-border-radius: 10dsf0px; -webkit-border-radius: 100px;
	background-image: url(../img/small/searchimg.png);
	background-repeat: no-repeat;
}








/* TODO: TENEMOS QUE AJUSTAR EL TAMANO DEL TEXTO EN FUNCION DE LA RESOLUCION DEL DISPOSITIVO*/


/* Landscape layout at least 470 × 320 mdpi*/
@media screen and (min-width:470px) and (min-height:320px) {
    #searchbtn {
        width: 50px; height: 50px; 
		border-radius: 100px; -moz-border-radius: 10dsf0px; -webkit-border-radius: 100px;
		background-image: url(../img/medium/searchimg.png);
		background-repeat: no-repeat;
    }
    
    .error{
		position: absolute;
		width: 100%; height: 100%;
		background-image: url(../img/medium/errorimg.png);
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-position:45% 20%; 
	}
}

/* Landscape layout at least 640 × 480 hdpi*/
@media screen and (min-width:640px) and (min-height:840px) {
    #searchbtn {
        width: 60px; height: 60px; 
		border-radius: 100px; -moz-border-radius: 10dsf0px; -webkit-border-radius: 100px;
		background-image: url(../img/large/searchimg.png);
		background-repeat: no-repeat;
    }
    
    .error{
		position: absolute;
		width: 100%; height: 100%;
		background-image: url(../img/large/errorimg.png);
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-position:45% 20%; 
	}
}

/* Landscape layout at least 960 × 720 xhdpi*/
@media screen and (min-width:960px) and (min-height:720) {
    #searchbtn {
        width: 90px; height: 90px;  
		border-radius: 100px; -moz-border-radius: 10dsf0px; -webkit-border-radius: 100px;
		background-image: url(../img/xlarge/searchimg.png);
		background-repeat: no-repeat;
    }
    
    .error{
		position: absolute;
		width: 100%; height: 100%;
		background-image: url(../img/xlarge/errorimg.png);
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-position:45% 20%; 
	}
}





/* Wobble Skew */

@-webkit-keyframes wobble-skew {
  16.65% {
    -webkit-transform: skew(-24deg);
    transform: skew(-24deg);
  }

  33.3% {
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
  }

  49.95% {
    -webkit-transform: skew(-24deg);
    transform: skew(-24deg);
  }

  66.6% {
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
  }

  83.25% {
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes wobble-skew {
  16.65% {
    -webkit-transform: skew(-24deg);
    -ms-transform: skew(-24deg);
    transform: skew(-24deg);
  }

  33.3% {
    -webkit-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
  }

  49.95% {
    -webkit-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  66.6% {
    -webkit-transform: skew(8deg);
    -ms-transform: skew(8deg);
    transform: skew(8deg);
  }

  83.25% {
    -webkit-transform: skew(-4deg);
    -ms-transform: skew(-4deg);
    transform: skew(-4deg);
  }

  100% {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
  }
}


/* Wobble Skew init*/

@-webkit-keyframes wobble-skew-init {
  16.65% {
    -webkit-transform: skew(-24deg);
    transform: skew(-24deg);
  }

  33.3% {
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
  }

  49.95% {
    -webkit-transform: skew(-24deg);
    transform: skew(-24deg);
  }

  66.6% {
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
  }

  83.25% {
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes wobble-skew-init {
  16.65% {
    -webkit-transform: skew(-24deg);
    -ms-transform: skew(-24deg);
    transform: skew(-24deg);
  }

  33.3% {
    -webkit-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
  }

  49.95% {
    -webkit-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  66.6% {
    -webkit-transform: skew(8deg);
    -ms-transform: skew(8deg);
    transform: skew(8deg);
  }

  83.25% {
    -webkit-transform: skew(-4deg);
    -ms-transform: skew(-4deg);
    transform: skew(-4deg);
  }

  100% {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
  }
}

