/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* 

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    letter-spacing:0.6px;
    line-height:20px;
    color: black;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    border:0;
    position: fixed;
}

/*style general div*/
.page { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	-webkit-transform: translate3d(0, 0, 0); 
	transform: translate3d(0, 0, 0); 
}

/*Style left div*/
.page.left { 
	-webkit-transform: translate3d(-100%, 0, 0); 
	transform: translate3d(-100%, 0, 0); 
}

/*style central page*/
.page.center { 
	-webkit-transform: translate3d(0, 0, 0); 
	transform: translate3d(0, 0, 0);
} 
 
 /*Style right page*/
.page.right { 
	-webkit-transform: translate3d(80%, 0, 0); 
	transform: translate3d(80%, 0, 0); 
}

 /*Style up page*/
.page.up { 
	-webkit-transform: translate3d(0, -100%, 0); 
	transform: translate3d(0, -100%, 0); 
}


/*Style general animation*/
.page.transition { 
	-webkit-transition-duration: 1s; 
	transition-duration: 1s; 
} 



/*Inicio estilos del menu principal*/
#menu{
        background:red;
        position:absolute;
        width: 80%;
        height: 100%;
}


#body {
	position:absolute;
    width: 100%;
    height:100%;
        
	/* gradient background efect*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b5feff', endColorstr = '#f8ffbd');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b5feff', endColorstr = '#f8ffbd')";
	background-image: -moz-linear-gradient(top, #b5feff, #f8ffbd);
	background-image: -ms-linear-gradient(top, #b5feff, #f8ffbd);
	background-image: -o-linear-gradient(top, #b5feff, #f8ffbd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#b5feff), to(#f8ffbd));
	background-image: -webkit-linear-gradient(top, #b5feff, #f8ffbd);
	background-image: linear-gradient(top, #b5feff, #f8ffbd);
	/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/ 	
}

#searchbar {
	display:block;
	top: 0px;
	left: 0px;
	width:100%;
	height: 10%;
	background-color: #5fdadd;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

#searchtxt {
	width: 80%;
	float: left; 
	border: 3px solid #c7c7c7;
	border-radius: 100px; -moz-border-radius: 10dsf0px; -webkit-border-radius: 100px;
	outline: none;
	background-color: #8abaee;
}


/*default style when the screen at least 426 × 320  ldpi*/ 
#searchbtn {
	width: 40px; height: 40px; float: right; 
	border-radius: 100px; -moz-border-radius: 10dsf0px; -webkit-border-radius: 100px;
	background-image: url(../img/small/searchimg.png);
}

#results{
	position: relative;
	width: 50%;
	height: 90%;
	left: 0px;
	-webkit-box-shadow:inset 1px 1px 111px 12px #DBE5FF;
	box-shadow:inset 1px 1px 111px 12px #DBE1FF;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

#buttonsbar{
	width:100%;
	height: 10%;
	bottom: -100%;
	left: 0px;
	-webkit-box-shadow:inset 1px 1px 111px 12px #DBE5FF;
	box-shadow:inset 1px 1px 111px 12px #DBE9FF;
	-webkit-border-radius: 999px 999px 999px 999px;
	border-radius: 999px 999px 999px 999px;
}

/* Landscape layout at least 470 × 320 mdpi*/
@media screen and (min-width:470px) and (min-height:320px) {
    #searchbtn {
        width: 50px; height: 50px; float: right; 
		border-radius: 100px; -moz-border-radius: 10dsf0px; -webkit-border-radius: 100px;
		background-image: url(../img/medium/searchimg.png);
    }
}

/* Landscape layout at least 640 × 480 hdpi*/
@media screen and (min-width:640px) and (min-height:840px) {
    #searchbtn {
        width: 60px; height: 60px; float: right; 
		border-radius: 100px; -moz-border-radius: 10dsf0px; -webkit-border-radius: 100px;
		background-image: url(../img/large/searchimg.png);
    }
}

/* Landscape layout at least 960 × 720 xhdpi*/
@media screen and (min-width:960px) and (min-height:720) {
    #searchbtn {
        width: 90px; height: 90px; float: right; 
		border-radius: 100px; -moz-border-radius: 10dsf0px; -webkit-border-radius: 100px;
		background-image: url(../img/xlarge/searchimg.png);
    }
}
